<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ asset('img/favicon.png') }}"/>
    <title>{% block title %}Bucket-List | {% endblock %}</title>
</head>
<body>
    <header class="l_header">
        <div class="header__title">
            <img src="{{ asset('img/logo.png') }}" alt="Bucket-List">
            <span>Bucket-List</span>
        </div>

        <nav class="header__nav">
            <ul class="header__nav__wrapper">
                <li class="header__nav__item"><a href="{{ path('main_home') }}" title="Home page">Home</a></li>
                {# Si l'utilisateur est connecté #}
                {% if app.user %}
                    <li><a href="{{ path('wish_list') }}" title="Wish List">Wish List</a></li>
                    <li><a href="{{ path('wish_add') }}">Add wish</a></li>
                    <li><a href="{{ path('app_logout') }}">Logout ({{ app.user.pseudo }})</a></li>
                {# Si l'utilisateur n'est pas connecté #}
                {% else %}
                    <li><a href="{{ path('app_login') }}">Login</a></li>
                    <li><a href="{{ path('app_register') }}">Register</a></li>
                {% endif %}

                <li class="header__nav__item"><a href="{{ path('main_aboutUs') }}" title="About us">About Us</a></li>

            </ul>
        </nav>
    </header>

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main class="l_main">
        {% block body %}{% endblock %}
    </main>

    <footer class="l_footer">
        <span>© Bucket-List {{ "now"|date('Y') }}</span>
    </footer>
</body>
</html>
